<!DOCTYPE html>
<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Perfil do Personal</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header>
      <nav class="flex justify-between bg-zinc-800 py-5 px-4">
        <div class="flex items-center gap-4">
          <a href="/aluno/menu/<%= id_aluno %>"
            ><img src="/icons/back_arrow.svg"
          /></a>
          <a href="/views/index.ejs"
            ><h1 class="font-jaro text-zinc-50 text-3xl">GymFit</h1></a
          >
          <!-- <img src="/icons/GymFit.svg" /> -->
        </div>
      </nav>
    </header>

    <main class="rounded-3xl mx-4 bg-zinc-50 text-black font-zain flex-grow">
      <section class="font-zain px-4">
        <h2 class="text-4xl text-center"><%= personal.nome %></h2>
        <div
          class="bg-slate-300 shadow-md rounded-lg flex flex-col items-center h-52"
        >
          <img src="/icons/user.svg" class="h-52" />
        </div>
        <div class="p-2 text-2xl">
          <h2 class="font-bold"><%= personal.cidade %>,<%= personal.uf %></h2>
          <h2 class="mx-2">Cref: <%= personal.cref %></h2>
          <h2 class="mx-2">Especialidade: <%= personal.especialidade %></h2>
          <h2 class="mx-2">Descrição: <%= personal.descricao%></h2>
          <h2 class="mx-2">
            Contato: <%= personal.telefone.replace(/\D/g,
            '').replace(/^(\d{2})(\d)/, '($1) $2').replace(/(\d{5})(\d)/,
            '$1-$2').slice(0, 15) %>
          </h2>

          <!-- <a href="/personal/editar/<%= personal.id %>" class="ml-2">
                  <img src="/icons/edit.svg" alt="Editar" class="inline-block w-6 h-6 cursor-pointer hover:opacity-80">
                  </a></h2> -->
        </div>

        <!-- <button
          class="flex justify-end mx-auto mt-60 bg-neonGreen rounded-xl px-12 py-2 hover:bg-neonGreenHover transition-colors text-zinc-50 text-4xl"
        >
          Sair
        </button> -->
      </section>
    </main>

    <footer class="text-center py-4 text-sm bg-zinc-800">
      <p class="text-zinc-50">&copy Luís Felipe, Edney Araujo, Marília</p>
    </footer>
  </body>
</html>
